<div class="sidebar">
  <!-- Main Navigation Buttons -->
  <div class="navigation-buttons flex align-items-center flex-column w-full">
    <p-button
      class="w-full"
      styleClass="w-full justify-content-start"
      [text]="true"
      routerLinkActive="sidebar-button-active"
    >
      <i class="pi pi-fw pi-home"></i>
      <span class="sidebar-text">Home</span>
    </p-button>

    <p-button
      class="w-full"
      styleClass="w-full justify-content-start"
      [text]="true"
      routerLinkActive="sidebar-button-active"
    >
      <i class="pi pi-fw pi-home"></i>
      <span class="sidebar-text">Home</span>
    </p-button>
    <p-button
      class="w-full"
      styleClass="w-full justify-content-start"
      [text]="true"
      (onClick)="goToSettings()"
      routerLinkActive="sidebar-button-active"
    >
      <i class="pi pi-fw pi-home"></i>
      <span class="sidebar-text">Home</span>
    </p-button>
    <p-button
      class="w-full"
      styleClass="w-full justify-content-start"
      [text]="true"
      (onClick)="goToSettings()"
      routerLinkActive="sidebar-button-active"
    >
      <i class="pi pi-fw pi-home"></i>
      <span class="sidebar-text">Home</span>
    </p-button>
    <p-button
      class="w-full"
      styleClass="w-full justify-content-start"
      [text]="true"
      (onClick)="goToSettings()"
      routerLinkActive="sidebar-button-active"
    >
      <i class="pi pi-fw pi-home"></i>
      <span class="sidebar-text">Home</span>
    </p-button>
  </div>

  <!-- Logout Button at bottom -->
  <!-- <div class="logout-container">
      <p-button
        class="logout-sidebar-button"
        [text]="true"
        routerLinkActive="sidebar-button-active"
        (onClick)="logOut()"
      >
        <span class="sidebar-text">Logout</span>
      </p-button>
    </div> -->
</div>
