<div 
  class="p-0 toggle-btn-group ml-6 mt-1 gap-2" 
  [ngStyle]="{ 'background-color': isActive ? '#121212' : '#f5f7fe' }"
>
  <button
    pButton
    type="button"
    class="toggle-btn"
    [ngClass]="{ active: isActive }"
    (click)="toggle()"
  >
    <img 
      src="./icons/topbar/moon-icon-black.svg" 
      alt="moon" 
      class="icons" 
      [attr.fill]="isActive ? '#ffffff' : '#121212'"
    />
  </button>
  
  <button
    pButton
    type="button"
    class="toggle-btn"
    [ngClass]="{ active: !isActive }"
    (click)="toggle()"
  >
    <img 
      src="./icons/topbar/sun-icon-white.svg" 
      alt="sun" 
      class="icons" 
      [attr.fill]="!isActive ? '#ffffff' : '#121212'"
    />
  </button>
</div>
